@inject IJSRuntime JS;
@using System.Text;
<div style="width:400px">
    <canvas id="@Id"></canvas>
</div>


@code {
    [Parameter]
    public string Id { get; set; } = "myChart";

    [Parameter]
    public IEnumerable<RadarChartItem>? ItemsSource { get; set; }

    private IEnumerable<RadarChartItem>? _itemsSourceCore;
    private IEnumerable<RadarChartItem>? ItemsCourceCore
    {
        get => this._itemsSourceCore;
        set
        {
            if (this._itemsSourceCore != value)
            {
                this._itemsSourceCore = value;
                UpdateChart();
            }
        }
    }

    protected override void OnParametersSet()
    {
        this.ItemsCourceCore = this.ItemsSource;
    }

    private void UpdateChart()
    {
        var jsonBuilder = new StringBuilder();
        jsonBuilder.AppendLine("{");
        jsonBuilder.AppendLine("\"type\": \"radar\",");
        jsonBuilder.AppendLine("\"data\": {");
        jsonBuilder.AppendLine("\"labels\": [");
        jsonBuilder.AppendLine("\"位置決め\", \"やぶれ\", \"めくれ\", \"しわ\", \"ラベル無し\"");
        jsonBuilder.AppendLine("],");
        jsonBuilder.AppendLine("\"datasets\":[");
        jsonBuilder.AppendLine("       " + string.Join(", \r\n       ", this.ItemsSource.Select(x => x.ToString())));    
        jsonBuilder.AppendLine("]");
        jsonBuilder.AppendLine("},");
        jsonBuilder.AppendLine("\"options\": {}}");


        var json = jsonBuilder.ToString();

        JS.InvokeVoidAsync("renderChart", this.Id, json);
    }
}