@page "/analysis"

<h3>Analysis</h3>

<div class="card" style="width:15rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle text-muted">Subtitle</h6>
    <p class="card-text">A card is a flexible and extensible content container. It includes ...</p>
    <a href="#" class="card-link">Card link</a>
  </div>
</div>

@code {

}
