@page "/judgeResult"

@inherits ViewComponentBase<JudgeResultViewModel>


<div class="row">
    <div class="col-2">
        <InputButton Class="btn btn-primary" Command="@DataContext.CreateChartCommand">Refresh</InputButton>
    </div>
</div>

<h2>2022年8月</h2>

<div class="row my-6">
    <div class="col">
        <h3>OK/NG</h3>
        <BarChart id="chart2" ItemsSource="@DataContext.ChartItems2" />
        <h3>欠陥別</h3>
        <LineChart id="chart3" ItemsSource="@DataContext.ChartItems3" />
    </div>
</div>


@code {
}