body {
}
.card {
    box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
    background: hsl(0 0% 100%);
    color: hsl(200 50% 20%);
    line-height: 0;
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    padding: 3ch;
    border-radius: 2ch;
    border: 1px solid hsl(0 0% 83%);
}

.full-chart {
    position: relative;
    width: 70vw;
    height: 500px;
}

.middle-chart {
    position: relative;
    width: 40vw;
    height: 500px;
}

.small-chart {
    position: relative;
    width: 30vw;
    height: 250px;
}
