@page "/"

@inherits ViewComponentBase<StatisticsViewModel>

<h3>Statistics</h3>

<div class="container" style="padding:10px">
    <div class="row">
        <InputButton Class="btn btn-primary" Command="@DataContext.CreateChartCommand">Refresh</InputButton>
    </div>

    <div class="row">
        <div class="col">
            @for(int i = 0; i<DataContext.ChartContents.Count; i++)
            {
                <div class="middle-chart card">
                    @{ _chart = "chart"+i;}
                    <Chart id=@_chart Contents="@DataContext.ChartContents[i]"/>
                </div>
            }
        </div>
    </div>
</div>


@code {
    private string _chart;
}
